In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/BoraBusTratado.csv')
df

,ID,Genero,PlanoFidelidade,Idade,RazaoViagem,CategoriaPassagem,DistanciaKm,WiFi,ConvenienciaHorarios,FacilidadeReservaViaApp,...,Entretenimento,ServicosIntegracao,SalaDeEspera,Bagagem,ServicoCheckIn,ServicoDeBordo,Limpeza&Higiene,AtrasoNaSaida,AtrasoNaChegada,SatisfacaoGeral
0,70172,Masculino,Sim,13,TurismoOuPessoal,Comforto,288.0,3,4,3,...,5,4,3,4,4,5,5,25,18.0,Nao
1,5047,Masculino,Nao,25,NegociosOuTrabalho,Leito,147.0,3,2,3,...,1,1,5,3,1,4,1,1,6.0,Nao
2,110028,Feminino,Sim,26,NegociosOuTrabalho,Leito,714.0,2,2,2,...,5,4,3,4,4,4,5,0,0.0,Sim
3,24026,Feminino,Sim,25,NegociosOuTrabalho,Leito,351.0,2,5,5,...,2,2,5,3,1,4,2,11,9.0,Nao
4,119299,Masculino,Sim,61,NegociosOuTrabalho,Leito,134.0,3,3,3,...,3,3,4,4,3,3,3,0,0.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Feminino,Nao,23,NegociosOuTrabalho,Normal,120.0,2,1,2,...,2,3,1,4,2,3,2,3,0.0,Nao
103900,73097,Masculino,Sim,49,NegociosOuTrabalho,Leito,1467.0,4,4,4,...,5,5,5,5,5,5,4,0,0.0,Sim
103901,68825,Masculino,Nao,30,NegociosOuTrabalho,Leito,1247.0,1,1,1,...,4,3,2,4,5,5,4,7,14.0,Nao
103902,54173,Feminino,Nao,22,NegociosOuTrabalho,Normal,625.0,1,1,1,...,1,4,5,1,5,4,1,0,0.0,Nao
103903,62567,Masculino,Sim,27,NegociosOuTrabalho,Leito,1077.0,1,3,3,...,1,1,1,4,4,3,1,0,0.0,Nao